@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables.sass";

$primary: #00d553;
$danger: #de656b;
$warning: #ffc000;
$success: #92d050;
$white: #ffffff;

$background: $white;
$scheme-main: $white;
$scheme-main-bis: $white;

@import "../node_modules/bulma/bulma.sass";
